<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>

	
<h1>Philip Geurin </h1>
<p>1715 NW 37th St, Oklahoma City, OK 73118 <br/>
(918) 289-8162    Philip.Geurin@gmail.com</p>
<a href="https://github.com/pgeurin/">See My Github Code</a>

<h2>Skills</h2>
<p> <span class="opening"> Javascript, HTML, CSS, C++, Java,  Python, Matlab, Maple, Prolog, and Scheme Proficiency,<br/></span> <span class="description"> Django-Apache-SQL server stack, Node, Flot, Angular, Express, multiple numerical methods for ordinary and partial differential equations, combinatorial game simulation, evolution simulation for stochastic problem solving, statistical analysis, assembly<br/>
Linear Algebra, Vector Calculus, Partial Differential Equations, Statistics<br/>
Basic Circuitry, capable of designing, building, and troubleshooting electrical circuits</p></span>

<h2>Related Experience</h2>
<p><span class="opening">Backend and Frontend Web Developer, </span><span class="description"> independent, Tulsa/Oklahoma City, 2011 may - present<br/>
<a href = "https://asciiconnectfour.com">AsciiConnectFour.com</a>,
<a href = "https://poememulator.com"> PoemEmulator.com</a> <br/>
<br/></span>
<span class="opening">Media Engineer, Claremont BioSolutions, </span> <span class="description">Claremont CA, Jan 2011 - August 2011<br/>
Constructing a six minute animation for publicity and a grant proposal in August 2011. Enhancing assembly process for handheld, disposable, motorized cell lysing and DNA extraction device. <br/>
Project advisor: Claremont BioSolutions CEO Robert Doebler. <br/>
<br/></span>
<span class="opening">Evolutionary Game Theory Researcher, </span> <span class="description">Keck Graduate Institute , Claremont CA, June - Sept 2010 <br/>
Designed evolutionary models of stock markets using Iterated Prisoners Dilemma in C++ and Matlab. Research Experience Undergraduate (REU) stipend awarded. One in six undergraduate candidates chosen. Project advisors: Arend Hintze and NASA Exceptional Achievement Medal recipient Dr. Chris Adami. <br/>
<br/></span>
<span class="opening">Medical Physicist Intern, </span><span class="description"> St. Francis Hospital Radiology Dept., Tulsa OK, May - June 2010 <br/>
Independently designed software automating radiation therapy dosage quality assurance. <br/>
Project advisor: Clinical Medical Physicist Russ Gerber. <br/>
<br/></span>
<span class="opening">Electrical Engineer, </span><span class="description">Beckman Laser Inst. & Harvey Mudd College, Claremont CA, Jan 2009 - May 2009<br/>
Developed first generation prototype earpiece for treating tinnitus with infrared lasers. <br/>
Project advisor: Professor Patrick Little.<br/>
<br/></span>
<span class="opening">Tutor, </span><span class="description">Joint Science Department of Claremont Colleges, Claremont CA, Sept 2008 – 2011<br/>
Physics, Game Theory, High School Geometry, Private tutoring for MCAT. <br/>
<br/></span>
<span class="opening">Researcher, </span><span class="description"> Joint Science Department of Claremont Colleges, Claremont CA, Summer 2008<br/>
Wrote and optimized computer code to shorten week long computer analyses studying a combinatorial game called Chomp.   Project advisor: Professor Adam Landsberg. </p><br/>
<br/></span>

<br/>
<h2>Education</h2> 
<p>Pitzer College, Claremont, CA  - B.A. Physics, B.A. Media Engineer - GPA 3.55 - Graduation, May 2011<br/>
Data Structures, Computational Physics and Engineering,Computational Partial Differential Equations</p><br/>
<br/></span>
<h2>Awards</h2>
<p><span class="opening">Front page entry of /r/funny/, </span><span class="description">Who you gonna call? Goats butter, 2015<br/></span>
<span class="opening">REU, </span><span class="description"> National Science Foundation Research grant, 2010 <br/></span>
<span class="opening">STEP Student Research Fellowship, </span><span class="description"> National Science Foundation, 2008 </span></p><br/>
	
	
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
        <li>Check out the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>